<div class="login-container">
    <div class="login-image">
      <div class="overlay">
        <h1>Suivez tous les vols du monde en toute simplicité</h1>
        <p>Rejoignez-nous et accédez à des informations précises sur les itinéraires, les horaires, et bien plus encore.</p>
      </div>
    </div>
  
    <div class="login-form">
      <div class="logo-container">
        <img src="assets/image.png" alt="Logo" class="logo" />
        <span>CLOUDTRACK</span>
      </div>
  
      <h2>CONNEXION</h2>
      <p>Pas encore de compte ? <a routerLink="/signin">Inscrivez-vous</a></p>
  
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input type="email" formControlName="email" placeholder="Email" />
        <input type="password" formControlName="password" placeholder="Mot de passe" />
        <button type="submit">Se connecter</button>
        <div class="links">
          <a routerLink="/forgot-password">Mot de passe oublié ?</a>
        </div>
      </form>
    </div>
  </div>
  