<div class="login-container">
    <div class="login-image">
      <div class="overlay">
        <h1>Suivez tous les vols du monde en toute simplicité</h1>
        <p>Rejoignez-nous et accédez à des informations précises sur les itinéraires, les horaires, et bien plus encore.</p>
      </div>
    </div>
  
    <div class="login-form">
      <div class="logo-container">
        <img src="assets/image.png" alt="Logo" class="logo" />
        <span>CLOUDTRACK</span>
      </div>
  
      <h2>Mot de passe oublié</h2>
      <p>Pas encore de compte ? <a routerLink="/signin">Inscrivez-vous</a></p>
      <!-- <p>Entrez votre adresse email et nous vous enverrons un lien de réinitialisation.</p> -->
  
      <form>
        <input
          type="email"
          id="emailInput"
          [(ngModel)]="email"
          name="email"
          placeholder="Votre adresse email"
          required
        />
        <button type="button" (click)="forgotPassword()">
          Envoyer le lien de réinitialisation
        </button>
      </form>
    </div>
  </div>
  