<div class="register-container">
    <div class="register-image">
      <div class="overlay">
        <h1>Suivez tous les vols du <br> monde en toute simplicité</h1>
        <p>
          Rejoignez-nous et accédez à des informations précises sur les itinéraires, les horaires,
          et bien plus encore.
        </p>
      </div>
    </div>
  
    <div class="register-form">
      <div class="logo-container">
        <img src="assets/image.png" alt="Logo" class="logo" />
        <span>CLOUDTRACK</span>
      </div>
  
      <h2>INSCRIPTION</h2>
      <p>Avez-vous un compte ? <a routerLink="/login">Connectez-vous</a></p>
  
      <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <input type="text" id="nom" formControlName="nom" placeholder="Nom" />
          <input type="text" id="prenom" formControlName="prenom" placeholder="Prénom" />
        </div>
        <input type="email" id="email" formControlName="email" placeholder="Email" />
        <input type="password" id="password" formControlName="password" placeholder="Mot de passe" />
        <button type="submit">S'inscrire</button>
      </form>
    </div>
  </div>
  